# Dependencies
node_modules/

# Next.js
.next/
out/

# Production
dist/

# Environment variables (NUNCA commitear)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
